<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask SQLite App</title>
</head>
<body>
    <h1>Entries</h1>
    <form action="/" method="post">
        <input type="text" name="content" placeholder="Enter content" required>
        <input type="submit" value="Add Entry">
    </form>
    <ul>
        {% for entry in entries %}
            <li>{{ entry.content }}</li>
        {% endfor %}
    </ul>
</body>
</html>